* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: #00538b;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_container {
	position: relative;
	display: flex;
	width: 90%;
	max-width: 30em;
	height: 300px;
	background-color: white;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.main_container h1 {
	font-size: 1.4em;
	color: #00538b;
	margin-bottom: 30px;
}

.main_container .input_box {
	padding: 5px;
	margin: 5px;
	background-color: #eaeaea;
	border-radius: 3px;
}

.main_container .input_box input{
	padding-right: 3px;
	margin: 0px 3px;
	border: none;
	text-align: right;
	outline: none;
	background-color: #eaeaea;
}

.main_container .input_box select{
	width: 80px;
	border: none;
	outline: none;
	text-align: right;
	background-color: #eaeaea;
}
